<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpyo.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcpyo.intro.Perspective"
            name="RCP Perspective"
            id="rcpYo.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="YoYo"
            application="rcpYo.application">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png">
         </property>
         <property
               name="appName"
               value="YoYo">
         </property>
         <property
               name="startupForegroundColor"
               value="FF0000">
         </property>
         <property
               name="startupMessageRect"
               value="6,260,200,16">
         </property>
         <property
               name="startupProgressRect"
               value="1,279,453,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/aboutSystem.gif"
            id="rcpyo.intro">
      </intro>
      <introProductBinding
            introId="rcpyo.intro"
            productId="rcpYo.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            id="rcpYo.configId"
            introId="rcpyo.intro"
            content="introContent.xml">
         <presentation
               home-page-id="root">
            <implementation
                  os="win32,linux,macosx"
                  kind="html">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="rcpyo.ui.TeachUnitName"
            icon="icons/teachUnitData.gif"
            id="rcpyo.ui.teachunitname"
            name="教学单位">
      </view>
      <view
            allowMultiple="false"
            class="rcpyo.ui.PieDiagram"
            icon="icons/historyData.gif"
            id="rcpyo.ui.piediagram"
            name="经费概览">
      </view>
      <view
            allowMultiple="false"
            class="rcpyo.ui.TeachUnitClass"
            icon="icons/teachUnitData.gif"
            id="rcpyo.teachunitclass"
            name="教学单位明细">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="rcpyo.splashHandlers.InteractiveSplashHandler"
            id="rcpyo.splashHandlers.interactive">
      </splashHandler>
   </extension>

</plugin>
